body {
    font-family: courier;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 16px;
}
ul {
    margin: 0;
}
li {
    padding-bottom: 12px;
}
.main {
    margin: 0 auto;
    width: 854px;
}
.main__top {
    margin-top: 64px;
}
.instruction {
    font-weight: bold;
    margin: 0;
}
.render {
    text-align: center;
    width: 100%;
}